@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500&display=swap');

body,
a {
    margin: 0;
    padding: 0;
    font-family: 'Cormorant Garamond', serif;
    text-decoration: none;
}

button {
    background-color: transparent;
    border: none;
    color: black;
    text-align: center;
    font-size: 24px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
    position: absolute;
    width: 100%;
    z-index: 2;
    color: #FFFFFF;
}

header h1,
header nav,
.my-custom-h2,
.my-custom-h3 {
    padding: 0 20px;
    text-shadow: 2px 2px 2px black;
    font-family: 'Playfair Display', serif;
}

header h1,
header nav {
    font-size: 36px;
    font-weight: 500;
}

header nav {
    font-size: 18px;
}

header nav a {
    margin-left: 5px;
    color: #ffffff;
    padding: 0 10px;
}

header nav a:hover {
    color: #A45279;
}

.center-console {
    display: flex;
    height: 600px;
    position: absolute;
}

.hero {
    height: 800px;
    background-image: url("./assets/images/password-generator-light-of-twelve-hologram-hacker.jpg");
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.second-hero {
    height: 300px;
    background-image: url("./assets/images/password-generator-light-of-twelve-computer-led.jpg");
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    margin-top: 0;
}

.my-custom-h2 {
    font-size: 120px;
    width: 100%;
    margin: 20px 0;
    color: #ffffff;
}

.my-custom-h3 {
    font-size: 80px;
    margin-left: 60px;
    width: 100%;
    margin: 20px 0;
    color: #ffffff;
}

.hero-overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    width: 90%;
    height: 80%;
    margin: 120px auto 0;
    padding: 0;
}

.hero .white-arrow,
.hero .black-arrow {
    position: absolute;
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%);
}

.hero .white-arrow {
    color: white;
    z-index: 2;
}

.hero .black-arrow {
    bottom: -28px;
    color: black;
    z-index: 1;
}

.hero p {
    color: white;
    font-size: 30px;
    padding-left: 20px;
    text-shadow: 2px 2px 2px black;
}

.founder-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 800px;
    background-color: #eaf2fc;
}

.founder-width {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    padding: 40px 0;
    height: 700px;
    border: dotted black;
}

.founder-item,
.founder-item-signature {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 450px;
    margin-bottom: 20px;
    text-align: center;
}

.founder-item {

    flex-direction: column;
}

.founder-item-signature ion-icon {
    margin-right: 10px;
}

.founder-item-signature div {
    text-align: left;
    border-left: 1px solid black;
    padding-left: 20px;
}

.founder-item p {
    display: block !important;
}

.generatePasswordSection {
    width: 100%;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E9E4F7;
    margin-bottom: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

#passwordForm {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.input-group {
    display: flex;
    width: 100%;
    gap: 10px;
}

.input-group #length {
    flex: 1;
}

.input-group #password {
    flex: 4;
}

.input-group #generate,
.input-group #reveal {
    flex: 0.5;
    border: solid black 1px;
}

.col,
.radioCol,
.checkCol {
    height: 150px;
    padding-top: 40px;
    padding-bottom: 190px;
    padding-left: 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin-top: 0;
}

.col {
    width: 50%;
    color: black;
    background-color: #E9E4F7;
}

.radioCol,
.checkCol {
    width: 25%;
    color: white;
}

.radioCol {
    background-color: #8FB3E6;
}

.checkCol {
    background-color: #A45279;
}

.container-fluid {
    padding-top: 85px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 800px;
    background-color: #221673;
}

.custom-container,
.container-styling {
    width: 100%;
    padding: 10px 0 30px 0;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    margin-top: 0;
}

.container-styling {
    width: 90%;
}

.no-padding-row {
    margin-right: 0;
    margin-left: 0;
}

footer {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 20px;
    background-color: #8FB3E6;
    color: white;
}

footer h3 {
    font-size: 16px;
    margin: 0;
}